div {

    border: 1px solid black;
    padding: 15px;
    position: absolute; /* Абсолютное позиционирование */
    width: 90%; /* Ширина слоя в процентах */
    height: 80%; /* Высота слоя в процентах */
    left: 5%; /* Положение слоя от левого края */
    right: 5%; /* Положение слоя от левого края */
    top: 5%; /* Положение слоя от верхнего края */
    overflow: auto;

}
table {

    border: 1px solid black;
    padding: 15px;
    position: absolute; /* Абсолютное позиционирование */
    width: 98%; /* Ширина слоя в процентах */
    height: 60%; /* Высота слоя в процентах */
    left: 1%; /* Положение слоя от левого края */
    right: 1%; /* Положение слоя от левого края */
    top: 20%; /* Положение слоя от верхнего края */
    overflow: auto;

}
section {
    display: none;
    padding: 15px;
    background: #fff;
    border: 1px solid #ddd;
}

tr:nth-child(even) {background:#AFAFAF;}

.tabs input {
    display: none;
}
/* стили вкладок (табов) */
.tabs label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #aaa;
    border: 1px solid #ddd;
    background: #f1f1f1;
    border-radius: 3px 3px 0 0;
}

/* изменения стиля заголовков вкладок при наведении */
.tabs label:hover {
    color: #888;
    cursor: pointer;
}
/* стили для активной вкладки */
.tabs input:checked + label {
    color: #555;
    border: 1px solid #ddd;
    border-top: 1px solid #009933;
    border-bottom: 1px solid #fff;
    background: #fff;
}
/* активация секций с помощью переключателя :checked */
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
    display: block;
}